/* A Free Design by Bryant Smith (bryantsmith.com) */



body {
	margin: 0;
	height: 200px;
	padding: 0;
	text-align: left;
	font: 15px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: white;
	background: #CCCCCC;
	background-image:url(images/background.png);
	background-repeat:repeat-x;
}
p { font-size=15px;
}
*
{
  margin: 0 auto 0 auto;
 text-align:centre;}

#container
{
  display: block; 
  position: relative; 
  width: 1080px;
}
#mycalendar{
	display:block;
	
	right:0;
	top:50px;
	position:absolute;
	}

#header
{
height:85px;
width:960px;	
}

#header h1
{
	position:absolute;
text-align:left;

color:#FFFFFF;
font-size:43px;
color:#FFF;	
left:14px;
top:18px;
}


#header h2
{
position:absolute;
text-align:right;
color:#EAEAEA;
left:490px;
top:38px;
width:400px;
}

#mainpic
{
background-image:url(images/main.jpg);
background-repeat:no-repeat;
width:900px;
height:354px;	
}



.off
{
color:#FFF;
}


#menu
{
display:block;
float:left;
clear:both;
width:960px;
height:54px;
float:left;
clear:both;
}

#leftmenu
{
margin-top:15px;
width:204px;
float:left;
}

#leftmenu_top
{
width:204px;
height:13px;
background-image:url(images/leftmenu_top.png);
}
#leftmenu_bottom
{
width:204px;
height:13px;
background-image:url(images/leftmenu_bottom.png);
}
#leftmenu_main
{
width:204px;
height:20px;
background-color:#5B5B5B;
}

#leftmenu_main ul
{
list-style: none;
padding: 0px;
width:204px;
}


#leftmenu_main h3
{
list-style: none;
padding: 0px;
width:204px;
color:#FFFFFF;
padding-left:10px;
padding-bottom:14px;
}

#leftmenu_main ul li
{
list-style: none;
padding: 0px;
width:204px;
text-align:left;
}

#leftmenu_main ul li a, #leftmenu_main ul li a:visited
{
	display:block;
list-style: none;
padding: 0px;
width:192px;
padding-left:12px;
padding-top:4px;
height:20px;
text-align:left;
background-image:url(images/leftmenu_link.png);
background-repeat:repeat-x;
margin-top:5px;
color:#FFFFFF;
text-decoration:none;
font-size:12px;
font-weight:bold;
}
#leftmenu_main ul li
{
	display:block;
list-style: none;
padding: 0px;
width:192px;
padding-left:12px;
padding-top:4px;
height:20px;
text-align:left;
background-image:url(images/leftmenu_link.png);
background-repeat:repeat-x;
margin-top:5px;
color:#FFFFFF;
text-decoration:none;
font-size:15px;
font-weight:bold;
}

#leftmenu_main ul li:hover
{
color:grey;
	
	
}




#content
{
font-size=15px;
display:block;
float:left;
width:689px;
height:auto;
padding-left:10px;
padding-top:15px;
padding-right:10px;
padding-bottom:5px;
}


#content_top
{
	background-image:url(images/main_top.png);
	background-repeat:no-repeat;
	width:629px;
	height:23px;
}

#content_main
{
background-image:url(images/main_back.jpg);
background-repeat:repeat-y;
width:629px;
border:1;
height:600px;
padding-left:15px;
padding-right:15px;
font-size=15px;
}

#content_bottom
{
background-image:url(images/main_bottom.png);
background-repeat:no-repeat;
width:629px;
height:23px;
}


#asd{
display:none;
float:center;
background:black;
}


#callContainer{
right:0;
top:70px;
margin-right:10px;
display:block;
position:absolute;
background-color:grey;
font: 12px Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:bold red;
}

#rtside{
	opacity:1;
filter:alpha(opacity=100);
	right:0;
	margin-right:-80px;
	display:block;
	width:30%;
	height:1000px;
	position:absolute;
	
	}

#footer
{
width:inherit;
height:auto;
}

#footer h3 a,#footer h3 a:visited
{
display:inline;
text-align:center;
font-size:10px;
text-decoration:none;
color:#FFF;
}


#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:960px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}
H4 { color:#FFF;
	padding:5px; 
	 
	 }
#menu a {
	float: left;
	height: 36px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 18px;
	font-size: 15px;
	padding-left:13px;
	padding-right:13px;
	
}
#myPanel{
	font-size:16px; position:absolute; margin-left:auto; top:0;
	height:700px;
	bottom: 1500px;
	left: 350px;
	top:150px;	
	background-color:white;
	vertical-align:middle;
margin-right: auto; 
}

#menu a:hover{
	background-image:url(images/link_background.png);
	background-repeat:repeat-x;
}

#fbpile{
margin-top:-80px;
display:block;
position:absolute;
right:0;
}

#content p
{
	
}


html, body {
text-align: center;
}
p {text-align: left;}